<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<title>{% block title %} {% endblock %}</title>
</head>
<body>
<!-- HEADER -->
<header class="header">
	<div class="container">
		<div class="row">
			<div class="kit-row left">
			<a href="/employee">
		 		<figure>
		 			<img src="/static/images/logo.png">
		 		</figure>
		 	</a>
		</div>
		<div class="kit-menu">		
		<nav class="menu">
			<ul class="list">
				<li class="item"><a  href="#"><i class=""></i>Reglas</a></li>
				<li class="item"><a  href="#"><i class=""></i>Contactanos</a></li>
			</ul>
		</nav>
		</div>
		</div>
	</div>
</header>
<!-- HEADER -->

<section>
	{%  block content %}

	{% endblock %}
</section>
<br/><br/>
<center>&copy;Con el empuje de kitdevelop</center>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

</body>
</html>
