{%  extends 'basedos.html' %}
{% block title %}{%  endblock %}
{%  block content %}
	{{message}}
{% if latest_advert_list  %}
<br/><br/>	 
	{% for elements in latest_advert_list %}
		 <strong><a class="link-to-work" href="/employee/details/{{elements.id}}">{{elements.titleofemployee}}</a></strong> ({{elements.company}}) | {{elements.place}}<br/>
	
	{% endfor %}
	<br/><br/>
	<a class="btn-public" href='{% url "url_work" %}'><i class="icon-bullhorn"></i> Publicar empleo</a>
{% else %}
 	<h2 class="not-work">No hay anuncios hasta el momento :(</h2>
 	<br/>
{% endif %}	
{% endblock %}
